
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Trainer/_TrainerLayout.cshtml";
}


<div class="col-md-12">
    <form id="bouqueti-form">
        <div class="form-row">

            <div class="col-md-12"><a style="float: right; margin-top: 20px;" href="#" class="btn btn-secondary btn-round" onclick="updateInfo()">Update Info</a></div>
            <div class="form-group col-md-6">
                <label class="required" for="inputEmail4">Name</label>
                <input type="text" class="form-control contact-method" id="TrainerName" placeholder="Name">
            </div>
            <div class="form-group col-md-6">
                <label class="required" for="inputEmail4">Dob</label>
                <input type="date" class="form-control contact-method" id="Dob">
            </div>
            <div class="form-group col-md-12">
                <label class="required" for="inputEmail4">Education</label>
                <input type="text" class="form-control contact-method" id="Education" placeholder="Education">
            </div>
            <div class="form-group col-md-12">
                <label class="required" for="inputEmail4">Phone</label>
                <input type="text" class="form-control contact-method" id="Phone" placeholder="Phone">
            </div>
            <div class="form-group col-md-12">
                <label class="required" for="inputEmail4">Email</label>
                <input type="text" class="form-control contact-method" id="Email" placeholder="Email">
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="male" value="option1" onclick="checkGender(false)">
                <label class="required" class="form-check-label" for="inlineRadio1">Male</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="female" value="option2" onclick="checkGender(true)">
                <label class="required" class="form-check-label" for="inlineRadio2">Female</label>
            </div>
        </div>
    </form>
</div>

<script>
    var gender = null;

    checkGender = (_gender) => {
        gender = _gender;
    }

    $(document).ready(function () {
        $.ajax({
            url: '/Trainer/FindById?trainerId=' + @ViewBag.Trainer.TrainerId,
            type: 'GET',
            success: function (result) {
                if (result.success) {
                    var dob = new Date(parseInt((result.data.Dob).toString().replaceAll('/Date(', '').replaceAll(')/', '')));

                    $('.infoForm').css('display', 'none');
                    $('#TrainerName').val(result.data.TrainerName);
                    $('#Education').val(result.data.Education);
                    $('#Dob').val(formatDate(dob.getFullYear(), dob.getMonth() + 1, dob.getDate()));
                    if (result.data.Gender) {
                        $('#female').prop('checked', true);
                        gender = true;
                    }
                    else {
                        $('#male').prop('checked', true);
                        gender = false;
                    } $('#Education').val(result.data.Education);
                    $('#Phone').val(result.data.Phone);
                    $('#Email').val(result.data.Account.Email);
                }
                else {
                    toastr.warning('Failed !');
                    $('.modal').modal('hide');
                }
            }
        });
    });

    updateInfo = () => {
        var req = {
            TrainerId: @ViewBag.Trainer.TrainerId,
            TrainerName: $('#TrainerName').val(),
            Dob: $('#Dob').val(),
            Gender: gender,
            Education: $('#Education').val(),
            Phone: $('#Phone').val(),
            Account: {
                Email: $('#Email').val(),
                Admin: false,
            }
        }

        postData('/Trainer/Save', req)
            .then((data) => {
                if (data.success) {
                    toastr.success('Successfully !');
                    setTimeout(window.location.reload.bind(window.location), 250);
                }
                else {
                    toastr.warning('Failed !');
                }
            });
    }
</script>